@{
    ViewData["Title"] = "Home Page";
}

@model List<ToDoListModel>

<div>
<h1>To Do List:</h1>
<div>
    <form asp-controller="Home" asp-action="Index" method="post">
        <input type="text" name="ItemName" placeholder="Add A To Do..."><button type="submit">Add</button>
    </form>
</div>
<divclass="row">
    <h2>To Be Completed:</h2>
    <form asp-controller="Home" asp-action="Complete" method="post">
    <ul>
        @foreach(var item in Model)
        {
            @if(item.Complete == false)
            {
                <li>
                    <button type="submit">Done</button>
                    @item.TaskName
                </li>
            }
        
        }
    </ul>
    </form>
    <h2>Completed:</h2>
    <ul>
        @foreach(var item in Model)
        {
            @if(item.Complete == true)
            {
                <li>@item.TaskName</li>
            }
        
        }
    </ul>
</div>
</div>